<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="edu201905.spring.model.mapper.DeptMapper">
	<resultMap type="edu201905.spring.domain.DeptInfo"
		id="deptResultMap">
		<id property="deptno" column="deptno" />
		<result property="dname" column="dname" />
		<result property="loc" column="loc" />
	</resultMap>


	<sql id="column_all">deptno, dname, loc
	</sql>

	<!-- 增加 主键自增，需要数据库里也是auto_increment -->
	<insert id="addDept" useGeneratedKeys="true"
		keyProperty="deptno">
		insert into dept(
		<include refid="column_all" />
		)
		values(null,#{dname},#{loc})
	</insert>

	<!-- 更新 -->
	<update id="updateDept"
		parameterType="edu201905.spring.domain.DeptInfo">
		update dept
		<set>
			<if test="dname != null and dname != ''">
				dname = #{dname},
			</if>
			<if test="loc != null and loc != ''">
				loc = #{loc}
			</if>
		</set>
		WHERE deptno = #{deptno}
	</update>

</mapper>