<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="edu201905.spring.model.mapper.EmpMapper">
	<resultMap type="edu201905.spring.domain.EmpInfo"
		id="empResultMap">
		<id property="empno" column="empno" />
		<result property="ename" column="ename" />
		<result property="job" column="job" />
		<result property="mgr" column="mgr" />
		<result property="hiredate" column="hiredate" />
		<result property="sal" column="sal" />
		<result property="deptno" column="deptno" />
	</resultMap>

	<sql id="column_all">empno,ename,job,mgr,hiredate,sal,deptno
	</sql>
	
	<!-- 增加 主键自增，需要数据库里也是auto_increment -->
	<insert id="addEmp" useGeneratedKeys="true"
		keyProperty="empno">
		insert into emp(
		<include refid="column_all" />
		)
		values(null,#{ename},#{job},#{mgr},#{hiredate},#{sal},#{deptno})
	</insert>
</mapper>